body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#nouvelle-reunion , #creer-reunion-groupe, #creer-reunion-participants {
    height: max(60vmin,400px);
    aspect-ratio: 3/4;
    border: 1px solid black;
    border-radius: 0.5em;
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: white;
    color: black;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px black;
    padding: 5p;
}

#formulaire-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 20%;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(3, 4, 94, 1);

}

.champs-a-remplir {
  height: 80%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

label {
  color: black;
  font-size: 1em;
  margin-right: 1em;
}

.champ-reunion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
}

input, textarea {
  border-radius: 0.3em;
  margin-right: 1em;
  border: 1px solid lightgray;
}

textarea {
  height: 30%;
}


#debut-reunion, #fin-reunion {
  width: 6em;
  font-size: 0.8rem;
}

#btn-radios {
  margin-top: 1em;
}

.reunion-visible {
    display: flex  !important ;
    flex-direction: column;
    opacity: 100%;
}

#messages-erreur, #messages-erreur-participants {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-style: italic;
}

.btn-reunion {
  display: flex;
  justify-content: space-around;
}

.btn-reunion button{
  background-color: rgba(3, 4, 94, 1);
  color: white;
  border-radius: 0.5em;
  width: 40%;
  padding: 2%
}

#ajouter-participants {
  height: 100%;
}

#ajout-participant-label {
  padding-left: 0.5em;
  font-size: 1.2em;
}

#btn-creer-participant {
  background-color: rgba(3, 4, 94, 1);
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  color: white;
  font-size: 100%;
}

#nouveau-participant {
  height: 2.5em;
  width: 70%;
  border-radius: 2em;
  padding-left: 1em;
  margin-right: 1em;
}

#nouveau-participant-creer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.4em;
}

#liste-participants {
  height: 50%;
  max-height: 150px;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.nom-participant {
height: 20%;
border-radius: 1em;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 1em;
padding-right: 1em;
margin-bottom: 2%;
border: 2px solid black;
}

.supprimer-participant {
  height: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

 /* main */
 main {
    height: 80vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 2%;
    
  }

  #calendrier-jour {
    height: 100%;
    width: 100%;
    min-width: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 1%;
  
  }

  #calendrier {
    width: max(60%,450px);
    aspect-ratio: 1.5/1;
    border: 2px solid black;
    border-radius: 1em;
    overflow: hidden;
    
  }

  #journee-mois {
    min-height: 50px;
    overflow: hidden;
    font-size: 2rem;
    
  }

  .main-btn {
    width: 15%;
    min-width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 2%;
  }

  #creer-reunion {
    background-color: rgba(3, 4, 94, 1);
    color: white;
    border-radius: 0.5em;
    height: max(10%,40px);
    font-size: 1em;
    padding: 0.1em;
  }


  /*footer */

  footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(3, 4, 94, 1);
    color: white;
    text-align: center;
    margin-top: 0.2%;
    padding: 2vmin;
    width: 100%;
  }


footer h5 {
  margin: 0;
  font-size: .8rem;
}

footer h4{
  margin-top: 0;
  margin-bottom: 0;
  color: #1399d8;
      font-size: 2.5em;
      font-weight: 700;
      font-family: "Monotype Corsiva Bold", "Monotype Corsiva", sans-serif;
      font-style: italic;
}
