body {
    margin: 0;
    overflow-x: hidden;
    color: white;
}

/***********************
 * main
 ***********************/

main {
    display: flex;
    flex-direction: row;
    transition: margin-left 0.5s, margin-right 0.5s;
    background-color: white;
    height: 100vh; 
    margin: 0;
}

#notes-publiques {
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 2%;

}

#message-publique {
    width: 90%;
    min-height: 15%;
    display: flex;
    padding-left: 2%;
    padding-top: 1%;
    margin-bottom: 2%;
}

#message-publique:hover {
    background-color: lightgray;
}

#utilisateur-photo {
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1%;
}

#utilisateur-nom-contenu {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    color: black;
    }

#nom-utilisateur {
    padding-left: 2%;
    font-weight: bold;
    color: black;
}

#supprimer-message, #modifier-message {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
}

#supprimer-message:hover, #modifier-message:hover {
    font-size: 1.8em;
}

#contenu-message {
    overflow-y:scroll;
}

#contenu-message::-webkit-scrollbar {
    display: none;
  }

  #heure-message {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    color: black;
    padding-top: 1%;
  }

  #btn-retour-message, #btn-confirmer-modification {
    background-color: transparent;
    border: none;
    height: 30%;
    width: 80%;
  }

  #btn-retour-message:hover, #btn-confirmer-modification:hover {
    background-color: grey;
  }

  #modifier-message-textarea {
    height: 100%;
    border-radius: 1em;
  }

  #nouveau-message {
    width: 50%;
    height: 5%;
    border-radius: 10px;
    padding-left: 1%;
    border: 1px solid lightgray;
  }

/* start of aside code */

/***********************
 * asides
 ***********************/

#presence,
#to_do{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border: #04071d 2px solid;
    width: 10em; 
    font-size: 1.2rem;
    position: fixed;
    text-decoration: none;
    transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s ease 0.1s;
    height: calc(100% - 10vmin);
    z-index: 1;
}

#blue_line_aside {
    position: absolute;
    top: 0;
    z-index: -5;
    width: 100%;
    height: 2.5em;
    background-color: #04071d;
}

#on_top_presence_conteneur,
#on_top_toDo_conteneur{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 5em;
    margin-top: 1vmin;
}

@media screen and (max-height: 500px) {
    #on_top_presence_conteneur,
    #on_top_toDo_conteneur{
        display: none;
    }
}

#on_top_presence_conteneur h3,
#on_top_toDo_conteneur h3{
    color: #00c1f3;
}

#boite_pas_dabscence,
#boite_toDo_complete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 2vmin;
}

#presence_conteneur,
#toDo_conteneur{
    overflow: auto;
    flex-grow: 1;
}

#header_aside_presence,
#header_aside_toDo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.boite_nom_presence,
.boite_toDo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 11em;
    padding: .5em;
    gap: 0.5em;

}

.nomPresence,
.nomObjectif{
    overflow:hidden
}

#to_do {
    right:0;
}

.nomPresence,
.nomObjectif {
    max-width: 75%; 
    overflow-x: auto;
    white-space: nowrap; 
}

#satisfaction_conteneur,
#complete_conteneur {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #04071d;
    color: white;
    height: 5em;
    margin-top: auto;
}

#conteneur-ajouter-tache{
    display: flex;
    flex-direction: column;
    height: 1.5em;
}

#boite-nouvelle-tache{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #04071d;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}


#valeurCompletion,
#valeurSatisfaction{
    height: 1vh;
}

@media screen and (max-height: 300px) {
    #satisfaction_conteneur,
    #complete_conteneur {
        display: none;
    }
}

/*******************************************/
/*Changer la couleur de la barre de progression.*/
/*******************************************/
progress {
    background: white;
    height: max(1vh, 10px);
    max-height: 15px;
    width: 8em;
}

progress::-moz-progress-bar {
    background: white;
}

progress::-webkit-progress-value {
    background: #00c1f3;
}

progress::-webkit-progress-bar {
    background: white;
}

/*******************************************/
/*Changer le curseur de satisfaction.*/
/*******************************************/

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 12em;
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
        height: max(1vh, 10px);
        max-height: 15px;
        -webkit-appearance: none;
        color: #00c1f3;
        margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
        width: 1vmin;
        -webkit-appearance: none;
        height: max(1vh, 10px);
        cursor: pointer;
        background: #02004c;
        box-shadow: -80px 0 0 80px #43e5f7;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
    background-color: #02004c;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
    background-color: #02004c;
}

#presence button, 
#to_do button {
    color: white;
    background-color: #04071d;
    font-size: 0.5em;
    width: 1em;
    padding: 2px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border: 1px white solid;
}

#titre-nouvelle-tache{
    width: 10em; 
}

#presence button:hover,
#to_do button:hover {
    background-color: white;
    color: #04071d;
}

#presence.collapsed,
#to_do.collapsed {
    width: 0;
    overflow: hidden;
    background-color: white;

}

#BtnPliableGauche,
#BtnPliableDroite {
    font-size: 2rem;
    background-color: transparent;
    color: #c5c5c5;
    border: none;
}


.BtnPliableGauche,
.BtnPliableDroite {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    z-index: 9;
}

.BtnPliableGauche{
    position:fixed;
    left: 11em;
    transition: left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background 0s, color 0s;
}

.BtnPliableDroite{
    position:fixed;
    right: 11em;
    transition: right 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background 0s, color 0s;
}
.BtnPliableGauche.collapsed {
    left: 2vmin;
}

.BtnPliableDroite.collapsed {
    right: 2vmin;
}

/************************************************************
Style des switch
/***********************************************************/

/* The switch - the box around the slider */
.switch_presence,
.switch_toDo {
    position: relative;
    display: inline-block;
    width: 70px; 
    height: 28px; 
}

.switch_presence input,
.switch_toDo input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #04071d; 
    border-radius: 16px; 
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px; 
    width: 24px; 
    left: 2px; 
    bottom: 2px; 
    background-color: #ffffff; 
    border-radius: 50%; 
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

input:checked + .slider {
    background-color: #4CAF50; 
}

input:focus + .slider {
    box-shadow: 0 0 1px #4CAF50; 
}

input:checked + .slider:before {
    -webkit-transform: translateX(42px); 
    -ms-transform: translateX(42px); 
    transform: translateX(42px); 
}

/* slider arrondis */
.slider.round {
    border-radius: 28px; 
}

.slider.round:before {
    border-radius: 50%;
}


/***********************
 * content
 ***********************/

content {
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
    flex-direction: column;
    margin-right: 1vmin;
    margin-bottom: 5vmin;
    transition: margin-left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background 0s, color 0s;
}





/************************************/
/* Style pour l'horloge. */
/************************************/
#boite_horloge{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 1px black solid;
}

#boite_btn_horloge{
    display: flex;
    flex-direction: row;
    flex-grow: 1;   
    text-align: center;
}

#boite_btn_horloge > *{
    flex-grow: 1;
}

#btn_horloge{
    background-color: #04071d;
    color: white;
}

#btn_horloge:hover{
    background-color: #00c1f3;
}

#horloge{
    border: 1px black solid;
    height: fit-content;
    width: fit-content;
    position: sticky;
    color: white;
    margin: 0 ;
    text-align: center;
    background-color: #04071d;
}

ul{
    margin:0;
    padding-inline-start: 0;
}
h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li {
    display: inline-block;
    font-size: .75em;
    list-style-type: none;
    padding: .5em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 1.75rem;
}

@media all and (max-width: 900px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
        font-size: 0.75rem;
    }
    
    li span {
        font-size: 1.15rem;
    }
    #boite_btn_horloge > *{
        font-size: 0.75rem;
    }
}

@media all and (max-height: 900px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
        font-size: 0.7rem;
    }
    
    li span {
        font-size: 1rem;
    }
    #boite_btn_horloge > *{
        font-size: 0.75rem;
    }
}

@media all and (max-width: 800px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
        font-size: 0.5rem;
    }
    
    li span {
        font-size: 0.8rem;
    }
    #boite_btn_horloge > *{
        font-size: 0.5rem;
    }
}

@media all and (max-height: 600px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
        font-size: 0.5rem;
    }
    
    li span {
        font-size: 0.75rem;
    }
    #boite_btn_horloge > *{
        font-size: 0.45rem;
    }
}
#area_public,
#area_privee{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5vmin;
    width: 50vw;
    height: 50%;
}

.textAreaNotes{
    width: 100%;
    height: 100%;
}

