body {
    font-family: Arial, sans-serif;
    margin: 0;
}
main{
    height: 100vh;
    margin-top: 5vh;
}
h1 {
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
p {
    line-height: 1.6;
}