body {
    margin: 0;
}

#header_conteneur {
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    border-bottom: solid black 2px;
}

#logo {
    display: flex;
    flex-direction: column;
    background-color: rgb(137, 119, 157);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
}

#logo_acronyme {
        box-sizing: border-box;
        font-family: "Monotype Corsiva Bold", "Monotype Corsiva", sans-serif;
        font-style: italic;
        font-weight: 700;
        color: #1399d8;
        text-align: left;
        line-height: normal;
        font-size: 300%;
}

#logo_nom {
    height: 10%;
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #7eccff;
    line-height: normal;
    font-size: 150%;
    margin-bottom: 5%;
  }

  #barre-bleue_header {
    height: 50%;
    width: 100%;
    background-color:  rgba(3, 4, 94, 1)
  }

  #btn_conteneur_header {
    position: relative;
    left: 150%;
    bottom: 50%;
    display: flex;
    justify-content: space-around;
    width: 50vw;
    
  }

  .header_boutons {
    height: 200%;
    width: 35%;
    border-radius: 10px;
    color: white;
    background-color:  rgba(3, 4, 94, 1);
    border: 2px solid white;
  }

  .header_boutons:hover {
    background-color: #6a628d;
  }

