body {
    margin: 0;
}

#header_conteneur {
    height: 10vmin;
    width: 100vmax;
    position: fixed;
    display: flex;
    border-bottom: solid black 2px;
}

#logo {
    display: flex;
    flex-direction: column;
    background-color: rgb(137, 119, 157);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 15vmax;
    height: 10vmin;
}

#logo_acronyme {
        font-size: 3vmax;
        box-sizing: border-box;
        font-family: "Monotype Corsiva Bold", "Monotype Corsiva", sans-serif;
        font-style: italic;
        font-weight: 700;
        color: #1399d8;
        text-align: left;
        line-height: normal;
        position: relative;
        top: 10%;
}

#logo_nom {
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    font-weight: 700;
    color: #7eccff;
    line-height: normal;
    font-size: 2vmax;
    margin-bottom: 5%;
  }

  #header-profil-boutons {
    height: 10vmin;
    width: 85vmax;
  }

  #barre-bleue_header {
    width: 85vmax;
    height: 5vmin;
    background-color:  rgba(3, 4, 94, 1);
    display: flex;
    justify-content: flex-end;
  }

  #barre-bas-header {
    height: 5vmin;
    width: 85vmax;
    display: flex;
    justify-content: space-between;
  }

  #btn_conteneur_header {
    display: flex;
    justify-content: space-around;
    width: 40vmax;
    height: 5vmin;
    position: relative;
    bottom: 2.5vmin;
  }

  .header_boutons {
    width: 15vmax;
    height: 5vmin;
    border-radius: 0.5em;
    color: white;
    background-color:  rgba(3, 4, 94, 1);
    border:  0.12em solid white;
    font-size: 0.9em;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;

  }

  .header_boutons:hover, .profil-boutons:hover {
    background-color: #6a628d;
  }

  #header_nom {
     font-size: 2vmax;
     box-sizing: border-box;
     font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
     font-weight: 700;
     color: #000000;
     text-align: left;
     line-height: normal;
     color: black;
     text-justify: center;
     
   }

  #conteneur-profil {
    height: 40vmin;
    width: 20vmax;
    position: relative;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: red;
    
  }

  #photo-profil-conteneur {
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4vmin;
  }

  #photo-profil {
    height: 8vmin;
    border-radius: 50%;
    border: 0.1em solid black;
  }

  #menu-profil {
   height: 40vmin;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   visibility: hidden; 
   margin: 5px;
   padding: 2%;
   border: 2px solid black;
   border-radius: 0.5em;
   background-color: white;
   position: relative;
   bottom: 4.8vmin
 }

  .profil-boutons {
    height: 23%;
    width: 80%;
    border-radius: 10px;
    padding: 2px;
    color: white;
    background-color:  rgba(3, 4, 94, 1);
    font-size: medium;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
  }

  #photo-profil-conteneur:hover + #menu-profil, #menu-profil:hover,  #conteneur-profil:hover {
    visibility: visible;
  }


