body {
    margin: 0;
    width: 100vw;
    height: min(100vh);
    overflow-x: hidden;
    background-color:  rgba(3, 4, 94, 1);
}

header {
    width: 100vw;
    min-height: 10vmin;
    max-height: 18vmax;
    position: sticky;
    top: 0;
    background-color: #03045e;
    display: grid;
    grid-template-areas: "a b c"
                         "a d d";
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 70% 30%;
    z-index: 1;
    overflow: hidden;
}

#logo_conteneur {
    grid-area: a;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text_conteneur {
    grid-area: b;
    border: 0;
    font-size: 2vw;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;    font-weight: 700;
    color: #ffffff;
    text-align: left;
    display: flex;
    align-items: end;
}

#boutons_conteneur {
    grid-area: d;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#compte_conteneur {
    grid-area: c;
    display: flex;
    align-items: center;
    justify-content: end;
}

#logo_plan {
    width: 90%;
    height: 90%;
    border: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo_acronyme {
    width: 100%;
    height: 4vw;
    font-size: max(4vw);
    color: #1399d8;
    font-weight: 700;
    font-family: "Monotype Corsiva Bold", "Monotype Corsiva", sans-serif;
    font-style: italic;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid transparent;
}

#logo_nom {
    width: 100%;
    height: 3vw;
    font-size: max(2.5vw);
    color: #7eccff;
    font-weight: 700;
    font-family: "Poppins Bold", "Poppins", sans-serif;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid transparent;
}

#logo_slogan {
    width: 100%;
    height: 5vw;
    font-size: max(1.8vw);
    background-color: rgba(255, 255, 255, 0);
    font-family: "Script MT Bold", "Script MT", sans-serif;
    font-weight: 700;
    text-wrap: nowrap;
    color: #a7a8ab;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid transparent;
}

#bouton1 {
    width: 19%;
    height: 90%;
    background-color: #00509d;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    font-size: 100%;
    color: #ffffff;
    text-align: center;
    line-height: normal;
    border: 0;
    box-sizing: border-box;
}

#bouton2 {
    width: 19%;
    height: 90%;
    background-color: #003f88;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    font-size: 100%;
    color: #ffffff;
    text-align: center;
    border: 0;
}

#compte_ligne {
    width: 100%;
    height: 80%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#inscrire, #connecter {
    width: 18vmax;
    height: 4vmax;
    background-color: #0077b6;
    border: 2px solid #006ba7;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}

#image_bouton {
    height: 70%;
    box-sizing: border-box;
    align-self: center;
}

#bouton-text {
    color: white;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: bold;
    font-size: max(1.5vw);
    text-wrap: nowrap;
    align-self: center;
}

#arriere_plan {
    transform: rotate(180deg);
    opacity: 0.85;
}

footer {
    display: flex;
    flex-direction: column;
    background-color:  rgba(3, 4, 94, 1);
    color: white;
    text-align: center;
    margin-top: max(auto, 100vh);
    padding: 2vmin;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

footer h5 {
    margin: 0;
    font-size: .8rem;
}

footer h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: #1399d8;
        font-size: 2.5em;
        font-weight: 700;
        font-family: "Monotype Corsiva Bold", "Monotype Corsiva", sans-serif;
        font-style: italic;
}