/*if body does not have margin 0, the header is off to the right */
/* 
 * EN-TÊTE
 */


header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vmin;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-around;
    z-index: 1000;
}

#logo-header {
    width: 12vmin;
    min-width: 7em;
    min-height: 4em;
    height: 10vmin;
    box-sizing: border-box;
    background-image: url("./image_structure/logo2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#conteneur-boutons-header {
    flex-grow: 1;
    min-width: 10em;
    min-height: 4em;
    height: 10vmin;
    display: flex;
    align-items: center;
    gap: 5vw;
    padding-left: 5vw;
    box-sizing: border-box;
}

.en-tete-boutons {
    width: 18vmin;
    min-width: 10em;
    max-width: 16em;
    height: 6vmin;
    min-height: 2.5em;
    max-height: 3.5em;
    color: white;
    background-color: #04071d;
    border: 0.1rem solid white;
    border-radius: 0.5em;
    font-size: 0.9rem;
    box-sizing: border-box;
}

#conteneur-compte-header {
    flex-grow: 1;
    min-height: 4em;
    height: 10vmin;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
    box-sizing: border-box;
}

#conteneur-header-variable {
    min-height: 4em;
    height: 10vmin;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#photo-profil-header {
    min-width: 3em;
    min-height: 3em;
    border: 3px solid #04071d;
    border-radius: 100%;
    background-image: url("./image_structure/image_profil_vide.png");
    background-size: cover;
    box-sizing: border-box;
}

#fond-en-tete {
    position: absolute;
    width: 100vw;
    min-height: 4em;
    height: 10vmin;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: -1;
}

#ligne-bleu-header {
    width: 100vw;
    min-height: 2em;
    height: 5vh;
    background-color: #04071d;
    box-sizing: border-box;
    z-index: -1;
}

#ligne-blanche-header {
    width: 100vw;
    min-height: 2em;
    height: 5vh;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    z-index: -1;
}

#lignes-decoratives-header {
    width: 100vw;
    border-bottom: 5px double #04071d;
    box-sizing: border-box;
}

.en-tete-petit-boutons{
    display: none;
}

#menu-profil-header {
    position: absolute;
    top: 0;
    margin-right: 3.5em;
    margin-top: 1em;
    min-width: 10em;
    width: 15vw;
    min-height: 10em;
    height: 12em;
    background-color: white;
    box-shadow: 0px 0px 20px 0px #04071d58;
    border: 1px solid #04071d35;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;

    display: none;
}

#info-header {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #04071d35;
    padding: 0.6em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#page-profil-header {
    width: 100%;
    height: 6em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #04071d35;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#deconnexion {
    width: 100%;
    height: 4em;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#compte-boutons-header {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
}

.en-tete-boutons:hover {
    color: #04071d;
    background-color: white;
    border: 3px solid #04071d;
    cursor: pointer;
}


/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
    
    #conteneur-boutons-header {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 2em;
        flex-grow: 0;
        margin: 0;
        gap: 0;
        padding: 5px;
    }

    .en-tete-boutons {
        display: none; /* Hide individual buttons */
    }
    .en-tete-petit-boutons{
        display:flex;
        width: 7.5em;
        height: 2em;
        gap: 1px;
        color: white;
        background-color: #04071d;
        border: 0.1rem solid white;
        border-radius: 0.5em;
        font-size: 0.9rem;
        box-sizing: border-box;
        text-align: center;
        justify-content: center;
    }

}




/*
  * PIED DE PAGE
  */


/* Personnalisation de la barre de défilement */


/* Barre de défilement 
html {
    scrollbar-width: thin;
/* Piste de la barre de défilement 
    scrollbar-color: #ffffff transparent;
/* Poignée de la barre de défilement 
    scrollbar-color: #04071d transparent;
}
/* Poignée de la barre de défilement au survol 
html:hover {
    scrollbar-color: #04071d transparent;
}
*/
/*
 * AUTRES
 */

header a {
    all: unset;
}

header button, header a {
    cursor: pointer;
}