body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:  #04071d;
}

#arriere_plan {
    transform: rotate(180deg);
    opacity: 0.85;
}


header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 14vmin;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 1000;
}

#logo-header {
    width: 16vw;
    min-width: 7em;
    min-height: 4em;
    height: 14vmin;
    box-sizing: border-box;
    background-image: url("/structure/image_structure/logo2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#conteneur-boutons-header {
    flex-grow: 1;
    min-width: 10em;
    min-height: 4em;
    height: 14vmin;
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    justify-content: flex-end;
    gap: 2.5vw;
    padding-right: 2vw;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.boutons-connecter,
.boutons-inscrire{
    width: 12vmin;
    min-width: 7em;
    max-width: 16em;
    height: 4vmin;
    min-height: 2em;
    color: white;
    background-color: #04071d;
    border: 0.1rem solid white;
    border-radius: 0.5em;
    font-size: 0.9rem;
    box-sizing: border-box;
}

.boutons-inscrire{
    background-color: white;
    color: #04071d;
    border: 0.1rem solid #04071d;
}

.boutons-connecter:hover,
.boutons-inscrire:hover {
    color: #04071d;
    background-color: white;
    border: 3px solid #04071d;
    cursor: pointer;
}

.boutons-inscrire:hover{
    background-color: #04071d;
    border: 0.1rem solid white;
    color: white;
}

#conteneur-header-variable {
    min-height: 4em;
    height: 14vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


#fond-en-tete {
    position: absolute;
    width: 100vw;
    min-height: 4em;
    height: 14vmin;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: -1;
}

#ligne-bleu-header {
    width: 100vw;
    min-height: 2em;
    height: 7vh;
    background-color: #04071d;
    box-sizing: border-box;
    z-index: -1;
}

#ligne-blanche-header {
    width: 100vw;
    min-height: 2em;
    height: 7vh;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    z-index: -1;
}

#lignes-decoratives-header {
    width: 100vw;
    border-bottom: 5px double #04071d;
    box-sizing: border-box;
}

header a {
    all: unset;
}

header button, header a {
    cursor: pointer;
}













