body {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}


/*
 * PRINCIPAL
 */

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    top: 0;
}

#formulaire-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 15%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #04071d;

}

#conteneur-reunions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 12em;
    width: calc(100% - 14em);
    height: calc(100vh - 10vmin);
    transition: 0.5s;
}

#conteneur-reunions.bascule{
    width: 100%;
    margin-left: 0;
    transition: 0.5s;
}

#reunion-a-venir,
#reunion-terminees{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 5rem;
    width: 80%;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2vh;
    top: 0;
}

#conteneur-reunions-prochaines::-webkit-scrollbar, 
#conteneur-reunions-passees::-webkit-scrollbar {
    display: none;
}

#conteneur-reunions-prochaines, 
#conteneur-reunions-passees {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    row-gap: 5vh;
    column-gap: 2%;
    min-height: 16em;
    max-height: 100vh;
    width: 80% ;
    margin-bottom: 5%;
    box-sizing: border-box;
    overflow-y: scroll;
    background-color: lightgray;
    transition: 0.5s;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 5px 6px 0px 0px #0000005e;
}


#conteneur-groupes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    width: 12em;
    height: calc(100% - 10vmin);
    background-color: #04071d;
    box-sizing: border-box;
    box-sizing: content-box;
    z-index: 2;
    transition: 0.5s;
    margin-left: 0;
    border-top: 1px white solid;
}

#conteneur-groupes.bascule{
    width: 0;
    overflow: hidden;
    background-color: white;
    transition: 0.5s;
}

#conteneur-basculer {
    position: fixed;
    top: 4em;
    left: 12em;
    width: 2em;
    height: calc(100% - 4em);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 0.5s;
}

#conteneur-basculer.bascule{
    left: 1em;
    transition: 0.5s;
}

#basculer {
    font-size: 2rem;
    background-color: transparent;
    color: #c5c5c5;
    border: none;
}

#basculer:hover {
    cursor: pointer;
    color: #adabab;
}

#conteneur-titre-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

#table-titre {
    text-align: center;
    color: white;
}

#table-groupes {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 12em;
    height: 30em;
    overflow-y: scroll;
    box-sizing: border-box;
}

.groupe {
    height: 3em;
    width: 80%;
    font-weight: bold;
    font-size: 100%;
    background-color: transparent;
    color: #c7c7cb;
    border: none;
    margin-right: 0%;
    align-self: flex-start;
    overflow: scroll;
    box-sizing: border-box;
}

.groupe::-webkit-scrollbar {
    display: none;
}

.groupe:hover {
    color: white;
    cursor: pointer;
}

#table-creer-groupe {
    width: 70%;
    min-height: 2em;
    height: 8%;
    margin: 1em;
    box-shadow: 3px 3px 10px 0px #00000059;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #04071d;
    color: white;
    font-size: large;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#table-creer-groupe:hover {
    cursor: pointer;
    color: #04071d;
    background-color: white;
    border: 2px solid #04071d;
}

.cellule-groupe {
    width: 12em;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
}

.modifier-groupe {
    width: 20%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
    box-sizing: border-box;
}

.modifier-groupe:hover {
    font-size: 1.5em;
}


/*
 * UNE RÉUNION EXEMPLE
 */

.conteneur-reunion {
    display: flex;
    flex-direction: column;
    width: 12em;
    height: 15em;
    border: 1px solid #04071d1e;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
}

@media screen and (max-height: 800px) {
    .conteneur-reunion {
        height: 7.5em;
        width: 6em;
    }

    #conteneur-reunions-prochaines, 
    #conteneur-reunions-passees {
        min-height: 8em;
    }

    .reunion-entete {
        height: 2.5em;
        width: 6em;
    }
}

.conteneur-reunion:hover {
    background-color: rgb(231, 228, 228);
    opacity: 80%;
    cursor: pointer; 
}

.reunion-entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12em;
    height: 5em;
    background-color: #04071d;
    color: white;
    border-radius: 5px;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    box-sizing: border-box;
    z-index: 1;
}

.reunion-reglage:hover {
    color: white;
    font-weight: bold;
}

.reunion-titre {
    align-self: center;
    margin-left: 1em;
    font-size: large;
    color: white;
    box-sizing: border-box;
}

.reunion-reglage {
    align-self: center;
    margin-right: 0.5em;
    font-size: large;
    box-sizing: border-box;
}

.reunion-description {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 3%;
    border-start-end-radius: 0;
    border-start-start-radius: 0;
    box-sizing: border-box;
    box-sizing: content-box;
    overflow-y: scroll;
}

.reunion-description::-webkit-scrollbar {
    display: none;
    scrollbar-color: white;
}

/*
 * BOUTON FLOTANT
 */

#bouton-flottant {
    position: sticky;
    bottom: 1em;
    align-self: end;
    width: 10em;
    height: 4em;
    background-color: #04071d;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    margin: 2em;
    z-index: 1;
}

#bouton-flottant:hover {
    cursor: pointer;
    color: #04071d;
    background-color: white;
    border: 2px solid #04071d;
}

/*
 * Créer groupe
 */

#liste-participants-groupe {
    height: 50%;
    max-height: 150px;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#messages-erreur-participants-groupe {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-style: italic;
}

#btn-ajouter-participant {
    background-color: #04071d;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    color: white;
    font-size: 100%;
}

#btn-ajouter-participant:hover {
    background-color: #00c1f3;
}


#nouveau-participant-groupe {
    height: 2.5em;
    width: 70%;
    border-radius: 2em;
    padding-left: 1em;
    margin-right: 1em;
    border: 2px solid lightgray;
}

.nom-participant-groupe {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2%;
    }
    
.nom-participant-groupe:hover {
    background-color: lightgray;
}

.supprimer-participant-groupe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1.8em;      
}

.supprimer-participant-groupe:hover {
    background-color: transparent;
    font-size: 2.1em;
}


/*
 * AUTRES
 */

#logo, .en-tete-boutons, #photo-profil, #compte-boutons, #page-profil, #deconnexion {
    cursor: pointer;
}

#compte-boutons {
    all: unset;
}

#table-groupes::-webkit-scrollbar {
    display: none;
}

#conteneur-reunions::-webkit-scrollbar {
    display: none;
}

/*
 * Fenêtre créer un groupe
 */

#conteneur-creer-groupe {
    margin: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    position: fixed;
    background-color: #302f4b8c;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#formulaire-creer-groupe {
    height: max(70vmin, 400px);
    width: max(50vmin, 200px);
    background-color: white;
    border-radius: 10px;
}

#creer-groupe-header {
    width: 100%;
    height: 20%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #04071d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 20%;
    font-size: 1.5rem;
    text-align: center;
}

#creer-groupe-contenu {
    width: 100%;
    height: 80%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    padding: 3%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #5c5c5c;
    text-align: left;
    line-height: normal;
    letter-spacing: 0.4px;
    display: flex;
    flex-direction: column;
}

#conteneur-nom-groupe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#conteneur-participants {
    width: 100%;
    display: flex;
    align-items: center;
}

#participants {
    margin-right: 10%;
}

input, textarea {
    border-radius: 0.3em;
    margin-right: 1em;
    border: 1px solid lightgray;
}

#nom-groupe, 
#ajouter-participants, 
#ajouter-participants-groupe {
    height: 5%;
    padding: 1em;
    width: 40%;
}

#ajouter-participant {
    background-color: #04071d;
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#liste-participants {
    width: 100%;
    height: 40%;
    overflow: scroll;
    text-align: center;
}

#liste-participants::-webkit-scrollbar {
    display: none;
}

#conteneur-description {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

#description {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#erreurs-creer-groupe {
    width: 100%;
    font-size: small;
    color: red;
    text-align: center;
}

#boutons-creer-groupe {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#confirmer-creer-groupe {
    background-color: #04071d;
    color: white;
    border-radius: 0.5em;
    width: 50%;
    padding: 2%;
    align-self: center;
    bottom: 0;
}

#retour-creer-groupe {
    background-color: #04071d;
    color: white;
    border-radius: 0.5em;
    width: 50%;
    padding: 2%;
    align-self: center;
    bottom: 0;
}

#confirmer-creer-groupe:hover, #retour-creer-groupe:hover {
    background-color: #00c1f3;
}

.groupe-choisi {
    background-color: white;
    color: black;
}

.groupe-choisi:hover {
    color: black;
}


/******************************
form 
******************************/

#nouvelle-reunion, 
#creer-reunion-groupe, 
#creer-reunion-participants,
#creer-liste-taches,
#creer-nouveau-compte {
    height: 65%;
    min-height: 400px;
    aspect-ratio: 3/4;
    border: 1px solid black;
    border-radius: 0.5em;
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    overflow: hidden;
    background-color: white;
    color: black;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px black;
}

#titre-reunion-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vmin;
}

#titre-reunion{
    height: 80%;
    width: 90%;
    text-align: center;
    margin: 0;
    font-size: 2em;
}

@media screen and (max-height: 900px) {
    #titre-reunion{
        font-size: 1em;
    }
}

#choisir-heure-form{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
}


#choisir-heure-form input{
    margin: 0;
    width: 50%;
}

#date-reunion-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#date-reunion-form input{
    width: 50%;
    text-align: center;
}

#description-reunion{
    border-radius: 1em;
    border: 1px solid lightgray;
    height: 30%;
    overflow: auto;
}

#btn-radios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
}

.formulaire-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 15%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #04071d;

}

.champs-a-remplir,
#champs-compte {
    height: 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}


label {
    color: black;
    font-size: 1em;
    margin-right: 1em;
}

.champ-reunion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
}

#debut-reunion, #fin-reunion {
    width: 6em;
    font-size: 0.8rem;
}

.reunion-visible {
    display: flex    !important ;
    flex-direction: column;
    opacity: 100%;
}

#messages-erreur, 
#messages-erreur-participants {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-style: italic;
}

.btn-reunion {
    display: flex;
    justify-content: space-around;
}

#effacer-reunion {
    background-color: transparent;
    color: white;
    font-size: 1em;
    margin-right: 0.5em;
    border: none;
}

span {
    padding-left: 1em;
    display: flex;
}

#quitter-reunion {
    background-color: transparent;
    color: white;
    font-size: 1em;
    border: none;
}

#effacer-reunion:hover {
    cursor: pointer;
    font-size: 110%;
}

#quitter-reunion:hover {
    cursor: pointer;
    font-size: 110%;
}






.btn-reunion {
    display: flex;
    justify-content: space-around;
}

.btn-reunion button {
    background-color: #04071d;
    color: white;
    border-radius: 0.5em;
    width: 40%;
    padding: 2%
}

.btn-reunion button:hover {
    background-color: #00c1f3;
}

.reunion-journee {
    height: 24%;
    width: 80%;
    background-color: #04071d;
    color: white;
    border-radius: 10px;
    margin-bottom: 2%;
    padding-left: 3%;
    border: 1px solid lightgray;
}

.reunion-journee:hover {
    background-color: #00c1f3;
}


#ajouter-participants {
    height: 100%;
    width: 90%;
}

#ajouter-participants-groupe {
    width: 90%;
}

#ajout-participant-label {
    padding-left: 0.5em;
    font-size: 1.2em;
}

#btn-creer-participant, #btn-creer-tache {
    background-color: #04071d;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    color: white;
    font-size: 100%;
}

#btn-creer-participant:hover, #btn-creer-tache:hover {
    background-color: #00c1f3;
}

#nouveau-participant, #nouvelle-tache {
    height: 2.5em;
    width: 70%;
    border-radius: 2em;
    padding-left: 1em;
    margin-right: 1em;
    border: 2px solid lightgray;
}

#nouveau-participant-creer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.4em;
}

#liste-participants, #liste-taches {
    height: 50%;
    max-height: 150px;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.nom-participant {
    height: 20%;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2%;
    border: 2px solid lightgray;
}

.nom-participant:hover {
    background-color: lightgray;
}

.supprimer-participant, .supprimer-tache {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1.8em;
}

.supprimer-participant:hover, .supprimer-tache:hover {
    background-color: transparent;
    font-size: 2.1em;
}

#choix-groupe {
    width: 60%;
    height: 20%;
}

#champs-groupes {
    padding-top: 10%;
    height: 30%;
    display: flex;
    justify-content: center;
}

#espace-vide {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5%;
}

#creer-reunion {
    position: fixed; 
    bottom: 3%; 
    right: 3%; 
    border-radius: 100%;
    background-color: #04071d;
    color: white;
    height: max(10%, 70px);
    max-height: 6em;
    font-size: 1em;
    min-width: 70px;
    z-index: 2;
    aspect-ratio: 1/1;
}

#creer-reunion:hover{
    background-color: #00c1f3;
}

.focus {
    opacity: 50%;
    pointer-events: none;
}


/*iphone */
@media only screen and (max-width: 450px) {

    body{
        overflow-x: hidden;
    }

    html{
        overflow-x: hidden;
    }

    #conteneur-groupes {
        left: 0;
        width: 7em;
        height: calc(100% - 10vmin);
        border-top: 1px white solid;
    }

    #conteneur-basculer {
        position: fixed;
        top: 4em;
        left: 7em;
        width: 2em;
        height: calc(100% - 4em);
    }

    .conteneur-reunion {
        height: 3.5em;
        width: 3em;
    }

    #conteneur-reunions-prochaines, 
    #conteneur-reunions-passees {
        min-height: 8em;
    }

    .reunion-entete {
        height: 1.25em;
        width: 3em;
    }

    .reunion-entete {
        height: 1em;
    }

    #reunion-a-venir{
        font-size: 1.5em;
    }
    
    #reunion-terminees{
        font-size: 1.5em;
    }

    .reunion-titre{
        font-size: 1em;
    }

    #table-titre{
        margin-top: 2.5em;
        font-size: 1em;
    }

    #table-creer-groupe {
        min-height: 0em;
        margin: 0.5em;
        box-shadow: 3px 3px 10px 0px #00000059;
        border-radius: 5px;
        border: 1px solid #ffffff;
        font-size: small;
    }

    .groupe {
        height: 1.5em;
        font-size: 1em;
    }

    #creer-reunion {
        bottom: 3%; 
        right: 10%; 
        border-radius: 100%;
        height: 7.5%;
        max-height: 6em;
        font-size: 0.8em;
        min-width: 0px;
    }
}



/* tablet  */
@media only screen and (max-width: 600px) {

    body{
        overflow-x: hidden;
    }

    html{
        overflow-x: hidden;
    }

    #conteneur-groupes {
        left: 0;
        width: 7em;
        height: calc(100% - 10vmin);
        border-top: 1px white solid;
    }

    #conteneur-basculer {
        position: fixed;
        top: 4em;
        left: 7em;
        width: 2em;
        height: calc(100% - 4em);
    }

    .conteneur-reunion {
        height: 3.5em;
        width: 3em;
    }

    #conteneur-reunions-prochaines, 
    #conteneur-reunions-passees {
        min-height: 8em;
    }

    .reunion-entete {
        height: 1.25em;
        width: 3em;
    }

    .reunion-entete {
        height: 1em;
    }

    #reunion-a-venir{
        font-size: 1.5em;
    }
    
    #reunion-terminees{
        font-size: 1.5em;
    }

    .reunion-titre{
        font-size: 1em;
    }

    #table-titre{
        margin-top: 2.5em;
        font-size: 1em;
    }

    #table-creer-groupe {
        min-height: 0em;
        margin: 0.5em;
        box-shadow: 3px 3px 10px 0px #00000059;
        border-radius: 5px;
        border: 1px solid #ffffff;
        font-size: small;
    }

    .groupe {
        height: 1.5em;
        font-size: 1em;
    }

    #creer-reunion {
        bottom: 3%; 
        right: 10%; 
        border-radius: 100%;
        height: 7.5%;
        max-height: 6em;
        font-size: 0.8em;
        min-width: 0px;
    }
}

/*************************
dark mode
**************************/

body.dark aside {
    border-right: white solid 3px;
}

body.dark #conteneur-reunions-prochaines, 
body.dark #conteneur-reunions-passees{
    background-color: rgb(40, 40, 40);
}

body.dark #creer-reunion {
    background-color: rgb(40, 40, 40);
    color: white;
}

body.dark #creer-reunion:hover {
    background-color: #00c1f3;
    cursor: pointer;
}

body.dark #nouvelle-reunion,
body.dark #creer-reunion-groupe,
body.dark #creer-reunion-participants,
body.dark #creer-liste-taches,
body.dark #formulaire-creer-groupe{
background-color: rgb(40, 40, 40);
color: white;
}

body.dark label{
color: white;
}

body.dark #description-reunion,
body.dark #titre-reunion,
body.dark #choisir-heure-form input,
body.dark #date-reunion-form input,
body.dark #choix-groupe {
    background-color: darkgray;
}
