body{
    height: 100vmin;
    margin:0;
}

header{
    display: flex;
    height: max(10vmin, 80px);
    flex-direction: row;
    background-color: #FFFFFF;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px black solid;
}

#blue_line_header{
    z-index: -1;
    height: 5vmin;
    min-height: 40px;
    width: 100%;
    background-color:  rgba(3, 4, 94, 1);
    top: 0;
    position: absolute;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(137, 119, 157);
    width: 12rem;
    height: 10vmin;
    min-height: 80px;
}

#logo_acronyme {
        color: #1399d8;
        font-size: 2.5em;
        font-weight: 700;
        font-family: "Monotype Corsiva Bold", "Monotype Corsiva", sans-serif;
        font-style: italic;
}

#logo_nom {
    color: #7eccff;
    font-size: 1.5em;
    font-weight: 700;
    font-family: "Poppins Bold", "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

#button_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10vmin;
    height: 10vmin;
    min-height: 80px;
    margin-left: 5vmin;
    flex-grow: 1;
}

.header_boutons {
    width: max(15vmin, 80px);
    height: 5vmin;
    min-height: 40px;
    color: white;
    background-color:  rgba(3, 4, 94, 1);
    border:  0.1rem solid white;
    border-radius: 0.5em;
    font-size: 0.9rem;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
}

.header_boutons:hover, .profil-boutons:hover {
    background-color: #6a628d;
}

#nom_et_pf{
    display: flex;
    flex-direction: row;
    height: max(10vmin, 80px);
}

#header_nom {
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 10vmin;
    min-height: 80px;
    min-width: 80px;
    font-size: 0.8em;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    flex-grow: 1;
}


#conteneur_profile{
    height: max(30vmin, 240px);
    width: 16vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


/* the centering of the profile picture is poorly done, it's relative the page rather than to one another 
so the conterneu_profile pushes up on the photo-profil-conteneur and  photo-profil-conteneur only takes up the space needed
for it's child rather than what it would need to be centeres
so it does not stay centered when vh gets skwished a lot. */
#photo-profil-conteneur{
    margin-top: max(2.5vmin, 20px);        /*This is what centers the profile pic, and so it has to be adjusted if the pp is changed */
    width: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vmin;
    flex-direction: column;
}


#photo-profil {
    height: max(5vmin, 40px);
    border-radius: 50%;
    border: 0.1em solid black;
}

#menu-profil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    visibility: hidden; 
    padding: 2%;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: white;
    flex-grow: 1;
    width: 15vmin;
}

.profil-boutons {
    border-radius: 10px;
    padding: 1em;
    width: 12vmin;
    color: white;
    background-color:  rgba(3, 4, 94, 1);
    font-size: 1em;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
}

#photo-profil-conteneur:hover + #menu-profil, #menu-profil:hover,  #conteneur-profil:hover {
    visibility: visible;
}

button:hover{
    cursor: pointer;
}



/* start of aside code */

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;     /* height set just to display the scrollability*/
    transition: margin-left 0.5s;
}


aside {
    display: flex;
    flex-direction: column;
    background-color: darkslateblue;
    color: white;
    position: fixed;
    height: 100%;
    width: 10em;
    font-size: 1.2rem;
    text-decoration: none;
    transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s ease 0.1s;
    overflow:auto;
}

aside table
{
    border-collapse: separate;
    opacity: 0;
    transition: opacity 0.5s ease 0.1s;
}

aside:not(.collapsed) table
{
    opacity: 1;
}

#cree_groupe{
    position:fixed;
    bottom: 0;
}

#cree_groupe button{
    border: 1px black solid;
    box-shadow: white;
    border-radius: 15%;
}

#cree_groupe button:hover{
    background-color: white;
    color:black;
}

aside th,
aside td,
aside button {
    padding: 1em;
    text-align: center;
}

aside button{
    background-color: darkslateblue;
    box-shadow: none;
    border: none;
    color:white;
    font-size: 1em;
    border-bottom: 1px white solid;
    text-align: left;
    width: 10rem;
}

aside button:hover{
    background-color:  rgba(3, 4, 94, 1);
}

aside.collapsed {
    width: 0;
    overflow: hidden;
}

#BtnPliable {
    font-size: 2rem;
    background-color: white;
    border: none;
}


.BtnPliable{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10em;
    font-size: 1.2rem;
    transition: margin-left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background 0s, color 0s;
}


.BtnPliable.collapsed {
    margin-left: 2vmin;
    transition: margin-left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background 0s, color 0s;
}


/*start of code for the content that goes to the right of the aside*/
content {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 8em;
    margin-right: 1vmin;
    margin-bottom: 5vmin;
    transition: margin-left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background 0s, color 0s;
}

content.collapsed {
    margin-left: 0;
}


/*footer */

footer {
    display: flex;
    flex-direction: column;
    background-color:  rgba(3, 4, 94, 1);
    color: white;
    text-align: center;
    margin-top: max(auto, 100vh);
    padding: 2vmin;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

footer h5 {
    margin: 0;
    font-size: .8rem;
}

footer h4{
    margin-top: 0;
    margin-bottom: 0;
    color: #1399d8;
        font-size: 2.5em;
        font-weight: 700;
        font-family: "Monotype Corsiva Bold", "Monotype Corsiva", sans-serif;
        font-style: italic;
}