body {
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: white;
}

/*************************************
Header
*************************************/

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: max(10vh, 80px);
    background-color: white;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

#logo {
    background-color: #04071d;
    width: 12rem;
    height: 10vh;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#blue_line_header {
    position: absolute;
    top: 0;
    z-index: -5;
    width: 100%;
    height: 50%;
    background-color: #04071d;
}

#decorative_line_header {
    position: absolute;
    top: 97%;
    z-index: -5;
    width: 100%;
    border: 1px solid #04071d;
}

#decorative_line_header2 {
    position: absolute;
    top: 100%;
    width: 100%;
    border: 1px solid #04071d;
}

#logo_acronyme {
    color: #00c1f3;
    font-size: 2.5em;
    font-weight: 700;
    font-family: "Monotype Corsiva Bold", "Monotype Corsiva", sans-serif;
    font-style: italic;
}

#logo_nom {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    font-family: "Poppins Bold", "Poppins", sans-serif;
}

#button_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5vmin;
    height: 10vh;
    min-height: 80px;
    margin-left: 5vmin;
    flex-grow: 1;
}

.header_boutons {
    width: max(25vmin, 80px);
    height: 5vh;
    min-height: 40px;
    color: white;
    background-color: #04071d;
    border: 0.1rem solid white;
    border-radius: 0.5em;
    font-size: 0.9rem;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
}

.header_boutons:hover, .profil-boutons:hover {
    background-color: #00c1f3;
    color: white;
    border: 0.1rem solid #04071d;
}

#nom_et_pf {
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#header_nom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-wrap: nowrap;
    height: 10vh;
    min-height: 80px;
    min-width: 80px;
    font-size: 0.8em;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    flex-grow: 1;
}

#conteneur_profil {
    height: max(30vh, 200px);
    width: 16vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    z-index: 10;
}

#conteneur_photo_profil {
    width: 100%;
    height: max(10vh, 75px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#photo_profil {
    border: 3px solid #02004c;
    height: max(7vh, 40px);
    width: max(7vmin, 40px);
    border-radius: 100%;
    background-image: url("./image_profil_vide.png");
    background-size: cover;
}

#menu_profil {
    height: 60%;
    width: 120%;
    margin-right: 4vmin;
    background-color: white;
    border: 1px solid #F4F4F4;
    border-radius: 10%;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    visibility: hidden;
}

#conteneur_photo_profil:hover + #menu_profil, #menu_profil:hover, #conteneur_profil:hover {
    visibility: visible;
}

button:hover {
    cursor: pointer;
}

.profil_boutons {
    width: 100%;
    height: 40%;
    background-color: white;
    border: thick double #f4f4f4;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    color: #6b6b6b;
    text-align: center;
    line-height: normal;
}

#profil_deconnecter {
    width: 90%;
    height: 20%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #f4f4f4;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
    font-family: "Arial", sans-serif;
    color: #6b6b6b;
    text-align: center;
    line-height: normal;
}



/***********************
 * main
 ***********************/

main {
    display: flex;
    flex-direction: row;
    transition: margin-left 0.5s, margin-right 0.5s;
    background-color: white;
    height: 150vmin; /* Height is just there to display or test scrolability*/
}

/* start of aside code */

/***********************
 * asides
 ***********************/


#presence,
#to_do{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border: rgba(3, 4, 94, 1) 2px solid;
    width: 12em; 
    font-size: 1.2rem;
    position: fixed;
    text-decoration: none;
    transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s ease 0.1s;
    height: 90vh;
    z-index: 1;
}

#blue_line_aside {
    position: absolute;
    top: 0;
    z-index: -5;
    width: 100%;
    height: 5%;
    background-color: #04071d;
}

#on_top_presence_conteneur,
#on_top_toDo_conteneur{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    margin-top: 1vmin;
}

#on_top_presence_conteneur h3,
#on_top_toDo_conteneur h3{
    color: #00c1f3;
}

#boite_pas_dabscence,
#boite_toDo_complete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 2vmin;
}

#presence_conteneur,
#toDo_conteneur{
    overflow: auto;
    flex-grow: 1;
}

#header_aside_presence,
#header_aside_toDo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.boite_nom_presence,
.boite_toDo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 11em;
    padding: 1em;
    gap: 0.5em;

}

.nomPresence,
.nomObjectif{
    overflow:hidden
}

#to_do {
    right:0;
}

.nomPresence {
    max-width: 75%; /* Adjust this according to your needs */
    overflow-x: auto;
    white-space: nowrap; /* Prevents text from wrapping */
}

#satisfaction_conteneur,
#complete_conteneur {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #04071d;
    color: white;
    height: min(10vh, 150px);
    margin-top: auto;
}

#valeurCompletion,
#valeurSatisfaction{
    height: 1vh;
}

/*******************************************/
/*Changing the colour of the progress bar*/
/*******************************************/
progress {
    background: white;
    height: max(1vh, 10px);
}

progress::-moz-progress-bar {
    background: white;
}

progress::-webkit-progress-value {
    background: #00c1f3;
}

progress::-webkit-progress-bar {
    background: white;
}

/*******************************************/
/*Changing the colour of the slider*/
/*******************************************/

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 15vh;
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
        height: max(1vh, 10px);
        -webkit-appearance: none;
        color: #00c1f3;
        margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
        width: 1vmin;
        -webkit-appearance: none;
        height: max(1vh, 10px);
        cursor: pointer;
        background: #02004c;
        box-shadow: -80px 0 0 80px #43e5f7;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
    background-color: #02004c;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
    background-color: #02004c;
}

#presence button, 
#to_do button {
    color: white;
    font-size: 1em;
    padding: 10px;
    text-align: left;
    width: 100%;
    border-bottom: 1px white solid;
}


#presence button:hover,
#to_do button:hover {
    background-color: white;
    color: black;
}

#presence.collapsed,
#to_do.collapsed {
    width: 0;
    overflow: hidden;
    background-color: white;

}

#BtnPliableGauche,
#BtnPliableDroite {
    font-size: 2rem;
    background-color: transparent;
    color: #c5c5c5;
    border: none;
}


.BtnPliableGauche,
.BtnPliableDroite {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    z-index: 9;
}

.BtnPliableGauche{
    position:fixed;
    left: 13em;
    transition: left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background 0s, color 0s;
}

.BtnPliableDroite{
    position:fixed;
    right: 13em;
    transition: right 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background 0s, color 0s;
}
.BtnPliableGauche.collapsed {
    left: 2vmin;
}

.BtnPliableDroite.collapsed {
    right: 2vmin;
}

/************************************************************
switch styling 
***********************************************************/

/* The switch - the box around the slider */
.switch_presence,
.switch_toDo {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

  /* Hide default HTML checkbox */
.switch_presence input,
.switch_toDo input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/***********************
 * content
 ***********************/

content {
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
    flex-direction: column;
    margin-right: 1vmin;
    margin-bottom: 5vmin;
    transition: margin-left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background 0s, color 0s;
}





/************************************/
/* Styling for clock */
/************************************/
#boite_horloge{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 1px black solid;
}

#boite_btn_horloge{
    display: flex;
    flex-direction: row;
    flex-grow: 1;   
    text-align: center;
}

#boite_btn_horloge > *{
    flex-grow: 1;
}

#btn_horloge{
    background-color: #04071d;
    color: white;
}

#btn_horloge:hover{
    background-color: #00c1f3;
}

#horloge{
    border: 1px black solid;
    height: fit-content;
    width: fit-content;
    position: sticky;
    color: white;
    margin: 0 auto;
    text-align: center;
    background-color: #04071d;
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: .5em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 2rem;
}

@media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
}



#area_public,
#area_privee{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5vmin;
    width: 50vw;
    height: 50%;
}

.textAreaNotes{
    width: 100%;
    height: 100%;
}


/*******************************
/*footer *//*
footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 2vmin;
}
/********************************/

footer {
    display: flex;
    flex-direction: column;
    background-color: #04071d;
    color: lightgray;
    text-align: center;
    padding: 2vmin;
    left: 0;
    width: 100%;   
    bottom: 0; 
}


footer h5 {
    margin: 0;
    font-size: .8rem;
}

footer h4{
    margin-bottom: 0;
    color: #00c1f3;
        font-size: 2.5em;
        font-weight: 700;
        font-family: "Monotype Corsiva Bold", "Monotype Corsiva", sans-serif;
        font-style: italic;
}


